/* koyu gri #333333 */
/* açık gri #666666 */


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
    width: 100%;
}

/*************header style start****************************/
#header{
    display: flex;
}
#header-logo{
    width: 5%;
    background-color: #009688;
    padding: 8px;
    color: white;
    font-size: 0.8rem;
}
#navbar{
    display: flex;
    justify-content:space-between;
    width: 95%;
    background-color: #000000;
    color: white;
}
#nav-menu{
    display: flex;
}
.menu-item {
    padding: 8px 10px;
}
.menu-item:hover{
    background-color: white;
    color: #000 ;
}
.menu-item:hover a {
    background-color: white;
    color: #000 ;
}
.menu-item a {
    color: white;
}
#search-box{
    padding: 8px 10px;
}
#search-box:hover{
    background-color: white;
    color: #000 ;
}
/*header style end************************/


/*page image atyle start *********/
#page-image{
    position: relative;
    width: 100%;
    height: 400px;
    max-height: 600px;
    background-image: url("images/sailboat.jpg");
    background-attachment: local;          
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
#page-image img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}
#page-title{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #000;
    color: white;
}
#page-title:hover{
    background-color: #009688;
}

/*page image style over*************/

/*team style*/
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
   }
   #team-title{
    padding: 10px;
   }
   #team-text{
    margin: 10px auto;
   }
   #team-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
   }
   .team-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px;
    margin: 10px;
   }
   .card-image{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 80%;
   }
   .card-title{
    margin-bottom: 10px auto;
    text-align: center;
   }
   .card-text{
    margin: 10px auto;
   }

   /*team style over*******/



   /* work style start */
   #work {
    width: 100%;
    background-color: #333333;
    display: flex;
    color: white;
  }
  .work-card-container {
    width: 25%;
    padding: 64px 8px;
  }
  .work-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
  }
  .work-title{
    margin: 10px 0;
    padding: 0 8px;
  }
  .work-text{
    margin: 10px 0;
    padding: 0 8px;
  }
  .work-list{
    padding: 8px;
  }
  .work-list-item{
    margin: 15px 0;
  }
  /*work style bitiş*/

  /************* WORK SECTION STYLE - START *****************/
#work{
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    color: white;
}
.work-card-container{
    width: 25%;
    padding: 64px 8px;
}
.work-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
.work-title{
    margin: 10px 0;
    padding: 0 8px;
}
.work-text{
    margin: 10px 0;
    padding: 0 8px;
}
.work-list{
    padding: 8px;
}
.work-list-item{
    margin: 15px 0;
}
/************* TEAM SECTION STYLE - END *****************/

/************* PRISING STYLE - START *****************/
#pricing{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 8px;
}
#pricing-title{
    margin: 10px 0;
}
#pricing-text{
    margin: 15px 0;
}
#pricing-products{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.pricing-card{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
}
.pricing-card:hover{
    /* box-shadow: 5px 5px 25px #888, -5px -5px 25px #888, -5px 5px 25px #888,5px -5px 25px #888 */
    box-shadow: 5px 5px 25px #888;
}
.pricing-title{
    background-color : #000;
    color: #fff;
    width: 100%;
    padding: 8px 16px;
}
.pricing-title .card-title{
    margin: 24px 0;
}
.card-body{
    width: 100%;
}
.pricing-list{
    text-align: center;
}
.pricing-list-item{
    padding: 16px;
    border-bottom: 1px solid silver;
}
.card-total{
    text-align: center;
}
.total{
    padding: 10px;
}
.card-footer{
    text-align: center;
    padding: 15px;
    border-top: 1px solid silver;
    margin-top: 15px;
    background-color: #f0f0f0;
}
.pricing-button{
    padding: 12px 24px;
    background-color: #009688;
    color: white;
    border: none;
}
/************* PRISING STYLE - END *****************/

/*contact style*/
#contact{
    /* 009688 */
    width: 100%;
    padding: 64px 16px;
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
}
#contact-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#contact-title{
    margin: 16px 0;
    border-bottom: 5px solid #009688;
}
#contact-subtitle{
    margin: 10px 0;
}
#contact-text{
    margin: 15px 0;
}
.contact-list{
    width: 100%;
}
.contact-list-item{
    padding: 15px 0;
}
.fa-solid{
    background-color: #fff;
    color: #009688;
}
#contact-form{
    width: 60%;
    padding: 16px;
    background-color: #fff;
}
.form-group{
    width: 100%;
    border-bottom: 1px solid silver;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}
.form-label{
  width: 100%;
  padding: 8px 0;
}
.form-control{
  width: 100%;
  padding: 8px 0;
  border:none;
}
.control-group{
  display:flex ;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.control-label{
  display: inline;
}
#like{
  width: 25px;
  height:25px;
}
.button{
  padding: 8px;
  background-color: #009688;
  color: #fff;
  border: none;
}
/*contact end*/

/*team map style start********/
#map{
    width: 100%;
}

/*footer*/
#footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-title{
    margin: 10px 0;
  }
  #social-accounts{
    padding: 8px 16px;
  }
  #social-list{
    display: flex;
    justify-content: space-between;
  }
  .social-list-items{
    padding: 8px 0;
  }
  .fa-brands{
    background-color: #009688;
    color: white;
    padding: 8px 16px;
    margin: 0 3px;
  }
  #footer-text{
    margin: 10px 0;
  }